---
import School from "../icons/School.astro";
---

<article class="mb-20 p-4 bg-gray-700/30 rounded-lg">
  <h3 class="text-xl font-semibold">
    <School class="inline size-7 me-2" />
    Desarrollo y Calidad de Software
  </h3>
  <p class="text-gray-400 mx-11 my-2">
    Universidad Santo Tomas de Aquino - Argentina
  </p>
  <p class="text-gray-400 mx-11">2024 - Presente</p>
  <ul class="list-disc list-inside mt-3 text-gray-200 text-pretty mx-11">
    <li class="mb-3">
      Recibi formacion integral en desarrollo de software, abarcando
      metodologias agiles, control de versiones y pruebas de software, lo que me
      permite contribuir eficazmente en equipos de desarrollo y asegurar la
      calidad del producto final.
    </li>
    <li class="mb-3">
      Demostre habilidades tecnicas en varios lenguajes de programacion y
      herramientas de desarrollo, incluyendo JavaScript, C y C#, aplicando estas
      competencias en proyectos academicos y personales.
    </li>
    <li class="mb-3">
      Desarrolle habilidades de resolucion de problemas y pensamiento critico a
      traves de la participacion en proyectos colaborativos y desafios
      academicos, preparandome para enfrentar retos en el campo del desarrollo
      de software.
    </li>
  </ul>
</article>
